<div class="background"></div>

<div class="container">
	<div class="twospace centeralign">
		<%= render 'partials/svg_logo' %>
	</div>
	<div class="homeform">
		<% if user_signed_in? %>
			<div class="twospace centeralign">
				Congratulations! You will now get email updates!
			</div>
		<% else %>
			<div class="twospace centeralign">
				We're going to help the planet onelement at a time - Earth, Air, Water, Solar. How?
			</div>
			<%= form_for(User.new, url: user_registration_path) do |f| %>
	      <div class="field">
	        <%= f.email_field :email, placeholder: "Email", class: "text-field" %>
	      </div>
	      <div class="field">
	        <%= f.password_field :password, autocomplete: "off", placeholder: "Password", class: "text-field" %>
	      </div>
	      <div class="actions">
	        <%= f.submit "Find out!", class: "submit-button" %>
	      </div>
	    <% end %>
	  <% end %>
	</div>
</div>