<%= provide(:title, "Edit Product") %>

<%= render 'partials/header' %>

<div class="wrapper">
  <div class="container">
    <div class="fixed">
      <div class="staticsidebar">
        <div class="staticsidebartitle">
          EDIT PRODUCT
        </div>
        <div class="staticsidebarsubtitle">
          Edit a post about something, literally anything in the entire world. Hopefully people are interested in it. Hopefully... they should be.
        </div>
      </div>
    </div>
    <div class="staticcontent">

      <%= form_for(@product, url: product_path) do |f| %>
        <div class="field">
          <%= f.text_field :title, placeholder: "Title", class: "text-field" %>
        </div>
        <div class="field">
          <%= f.text_field :mini_description, placeholder: "Mini Description", class: "text-field" %>
        </div>
        <div class="field">
          <%= f.text_field :description, placeholder: "Description", class: "text-field" %>
        </div>
        <div class="field">
          <%= f.text_field :element, placeholder: "Element", class: "text-field" %>
        </div>
        <div class="field">
          <%= f.text_field :base_price, placeholder: "Base price", class: "text-field" %>
        </div>
        <div class="field">
          <%= f.text_field :shipping_price, placeholder: "Shipping price", class: "text-field" %>
        </div>
        <div class="field">
          <%= f.text_field :quantity, placeholder: "Quantity", class: "text-field" %>
        </div>
        <div class="field">
          <%= f.text_field :size, placeholder: "Sizes", class: "text-field" %>
        </div>
        <div class="field">
          <%= f.text_field :color, placeholder: "Colors", class: "text-field" %>
        </div>
        <div class="field">
          <%= f.text_field :image1, placeholder: "Image 1", class: "text-field" %>
        </div>
        <div class="field">
          <%= f.text_field :image2, placeholder: "Image 2", class: "text-field" %>
        </div>
        <div class="field">
          <%= f.text_field :image3, placeholder: "Image 3", class: "text-field" %>
        </div>
        <div class="actions">
          <%= f.submit "Edit Product", class: "submit-button" %>
        </div>
      <% end %>

    </div>
  </div>
</div>

<%= render 'partials/footer' %>

2 more pics for products
1 element for products
1 mini description for products
3 elements for users