<%= provide(:title, "New Post") %>

<%= render 'partials/header' %>

<div class="wrapper">
	<div class="container">
		<div class="fixed">
			<div class="staticsidebar">
				<div class="staticsidebartitle">
					EDIT POST
				</div>
				<div class="staticsidebarsubtitle">
					Edit this post. Trying not to make it worse than it presumably is already. Please, and thank you very much.
				</div>
			</div>
		</div>
		<div class="staticcontent">

			<%= form_for(@post, url: post_path) do |f| %>
        <div class="field">
          <%= f.text_field :title, placeholder: "Title", class: "text-field" %>
        </div>
        <div class="field">
          <%= f.text_field :author, placeholder: "Author", class: "text-field" %>
        </div>
        <div class="field">
          <%= f.text_field :image, placeholder: "Image", class: "text-field" %>
        </div>
        <div class="field">
          <%= f.text_field :subtitle, placeholder: "Subtitle", class: "text-field" %>
        </div>
				<div class="field">
          <%= f.text_area :content, placeholder: "Content", class: "text-area" %>
        </div>
        <div class="actions">
          <%= f.submit "Edit Post", class: "submit-button" %>
        </div>
      <% end %>

		</div>
	</div>
</div>

<%= render 'partials/footer' %>